<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css">
    <title>Exclusive</title>
    <script src="./js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.all.min.js"></script>
</head>

<body>
    <section id="top-header">
        <div class="wrapper">
            <div class="shop-now">
                <p>Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</p>
                <a href="#">Shop Now</a>
            </div>
            <div class="language">
                <h5>
                    English
                </h5>
                <img src="assets/short-arrow-down.svg" alt="drop-down">
            </div>
        </div>
    </section>

    <header>
        <section class="wrapper">
            <div class="left">
                <h1 class="logo"><a href="#">Exclusive</a></h1>

                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Sign Up</a></li>
                    </ul>
                </nav>
            </div>
            <div class="right">
                <form action="#" method="get">
                    <input type="search" placeholder="What are you looking for?">
                    <img src="./assets/search.svg" alt="search-icon">
                </form>
                <div class="user-actions">
                    <a href="#"><img src="./assets/wishlist.svg" alt="wishlist-icon"></a>
                    <a href="#"><img src="./assets/Cart.svg" alt="cart-icon"></a>
                </div>
            </div>
        </section>
        <hr class="line">
    </header>

    <section id="offer">
        <section class="wrapper">
            <div class="product-info">
                <div class="product-name-container">
                    <img src="./assets/apple.svg" alt="Apple.inc icon">
                    <h2>iPhone 14 Series</h2>
                </div>
                <h3>Up to 10% off Voucher</h3>
                <div class="shop-now-container">
                    <div class="shop-now">
                        <a href="#">Shop Now</a>
                        <hr class="line">
                    </div>
                    <img src="./assets/arrow-right.svg" alt="right arrow">
                </div>
            </div>
            <div class="hero-image">
                <img src="./images/hero-iphone.jpg" alt="Hero Image">
            </div>
        </section>
    </section>

    <section id="categories">
        <section class="wrapper">
            <div class="category-banner-container">
                <div class="category-banner"></div>
                <h4>Categories</h4>
            </div>
            <h2>Browse By Category</h2>
            <ul class="categories">
                <li>
                    <a href="#">
                        <img src="./assets/CellPhone.svg" alt="Phone">
                        <h4>Phones</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./assets/Computer.svg" alt="Computer">
                        <h4>Computers</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./assets/SmartWatch.svg" alt="Smart Watch">
                        <h4>Smart Watch</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./assets/Headphone.svg" alt="Head Phone">
                        <h4>Head Phone</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./assets/Gamepad.svg" alt="Gamepad">
                        <h4>Gaming</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./assets/Camera.svg" alt="Camera">
                        <h4>Camera</h4>
                    </a>
                </li>
            </ul>
        </section>
    </section>

    <section id="products">
        <section class="wrapper">
            <ul class="products">
                <li class="product">
                    <div class="thumbnail">
                        <div class="img-container">
                            <img src="./images/Dog Food.png" alt="Dog Food">
                        </div>
                        <div class="user-actions">
                            <a href="#"><img src="./assets/wishlist.svg" alt="wishlist"></a>
                            <a href="#"><img src="./assets/Quick View.svg" alt="quick view"></a>
                        </div>
                        <div class="add-to-cart">
                            <a href="#">Add To Cart</a>
                        </div>
                    </div>
                    <div class="product-details">
                        <h4>Breed Dry Dog Food</h4>
                        <div class="price-container">
                            <h5>$100</h5>
                            <ul class="stars">
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-non-filled.svg" alt="non filed star"></li>
                            </ul>
                            <h6 class="reviews">(35)</h6>
                        </div>

                    </div>
                </li>
                <li class="product">
                    <div class="thumbnail">
                        <div class="img-container">
                            <img src="./images/Camera.png" alt="Camera">
                        </div>
                        <div class="user-actions">
                            <a href="#"><img src="./assets/wishlist.svg" alt="wishlist"></a>
                            <a href="#"><img src="./assets/Quick View.svg" alt="quick view"></a>
                        </div>
                        <div class="add-to-cart">
                            <a href="#">Add To Cart</a>
                        </div>

                    </div>
                    <div class="product-details">
                        <h4>CANON EOS DSLR Camera</h4>
                        <div class="price-container">
                            <h5>$360</h5>
                            <ul class="stars">
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-non-filled.svg" alt="non filed star"></li>
                            </ul>
                            <h6 class="reviews">(96)</h6>
                        </div>

                    </div>
                </li>
                <li class="product">
                    <div class="thumbnail">
                        <div class="img-container">
                            <img src="./images/ideapad-gaming-3i-01-500x500 1.png" alt="Gaming Laptop">
                        </div>
                        <div class="user-actions">
                            <a href="#"><img src="./assets/wishlist.svg" alt="wishlist"></a>
                            <a href="#"><img src="./assets/Quick View.svg" alt="quick view"></a>
                        </div>
                        <div class="add-to-cart">
                            <a href="#">Add To Cart</a>
                        </div>

                    </div>
                    <div class="product-details">
                        <h4>ASUS FHD Gaming Laptop</h4>
                        <div class="price-container">
                            <h5>$700</h5>
                            <ul class="stars">
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                            </ul>
                            <h6 class="reviews">(325)</h6>
                        </div>

                    </div>
                </li>
                <li class="product">
                    <div class="thumbnail">
                        <div class="img-container">
                            <img src="./images/Unsplash Skin Care.png" alt="Skin Care">
                        </div>
                        <div class="user-actions">
                            <a href="#"><img src="./assets/wishlist.svg" alt="wishlist"></a>
                            <a href="#"><img src="./assets/Quick View.svg" alt="quick view"></a>
                        </div>
                        <div class="add-to-cart">
                            <a href="#">Add To Cart</a>
                        </div>

                    </div>
                    <div class="product-details">
                        <h4>Curology Product Set</h4>
                        <div class="price-container">
                            <h5>$500</h5>
                            <ul class="stars">
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-non-filled.svg" alt="non filed star"></li>
                            </ul>
                            <h6 class="reviews">(145)</h6>
                        </div>
                    </div>
                </li>
                <li class="product">
                    <div class="thumbnail">
                        <div class="img-container">
                            <img src="./images/New-Mercedes-Benz-Gtr-Licensed-Ride-on-Car-Kids-Electric-Toy-Car 1.png"
                                alt="Toy Car">
                        </div>
                        <div class="user-actions">
                            <a href="#"><img src="./assets/wishlist.svg" alt="wishlist"></a>
                            <a href="#"><img src="./assets/Quick View.svg" alt="quick view"></a>
                        </div>
                        <div class="new-label">
                            <h6>NEW</h6>
                        </div>
                        <div class="add-to-cart">
                            <a href="#">Add To Cart</a>
                        </div>
                    </div>
                    <div class="product-details">
                        <h4>Kids Electric Car</h4>
                        <div class="price-container">
                            <h5>$960</h5>
                            <ul class="stars">
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                            </ul>
                            <h6 class="reviews">(65)</h6>
                        </div>
                        <div class="color-options">

                            <div class="color-option-selected"><span class="color"
                                    style="background-color: #fb1314;"></span></div>
                            <div class="color-option"></div>
                        </div>
                    </div>
                </li>
                <li class="product">
                    <div class="thumbnail">
                        <div class="img-container">
                            <img src="./images/Copa_Sense 1.png" alt="Boots">
                        </div>
                        <div class="user-actions">
                            <a href="#"><img src="./assets/wishlist.svg" alt="wishlist"></a>
                            <a href="#"><img src="./assets/Quick View.svg" alt="quick view"></a>
                        </div>
                        <div class="add-to-cart">
                            <a href="#">Add To Cart</a>
                        </div>
                    </div>
                    <div class="product-details">
                        <h4>CANON EOS DSLR Camera</h4>
                        <div class="price-container">
                            <h5>$1160</h5>
                            <ul class="stars">
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                            </ul>
                            <h6 class="reviews">(35)</h6>
                        </div>
                        <div class="color-options">
                            <div class="color-option-selected"><span class="color"
                                    style="background-color: #EEFF61;"></span></div>
                            <div class="color-option"></div>
                        </div>
                    </div>
                </li>
                <li class="product">
                    <div class="thumbnail">
                        <div class="img-container">
                            <img src="./images/GP11_PRD3 1.png" alt="Gamepad">
                        </div>
                        <div class="user-actions">
                            <a href="#"><img src="./assets/wishlist.svg" alt="wishlist"></a>
                            <a href="#"><img src="./assets/Quick View.svg" alt="quick view"></a>
                        </div>
                        <div class="add-to-cart">
                            <a href="#">Add To Cart</a>
                        </div>
                        <div class="new-label">
                            <h6>NEW</h6>
                        </div>
                    </div>
                    <div class="product-details">
                        <h4>GP11 Shooter USB Gamepad</h4>
                        <div class="price-container">
                            <h5>$660</h5>
                            <ul class="stars">
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-half-filled.svg" alt="half filed star"></li>
                            </ul>
                            <h6 class="reviews">(55)</h6>
                        </div>
                        <div class="color-options">
                            <div class="color-option-selected"><span class="color"
                                    style="background-color: #000000;"></span></div>
                            <div class="color-option"></div>
                        </div>
                    </div>
                </li>
                <li class="product">
                    <div class="thumbnail">
                        <div class="img-container">
                            <img src="./images/Jacket.png" alt="Jacket">
                        </div>
                        <div class="user-actions">
                            <a href="#"><img src="./assets/wishlist.svg" alt="wishlist"></a>
                            <a href="#"><img src="./assets/Quick View.svg" alt="quick view"></a>
                        </div>
                        <div class="add-to-cart">
                            <a href="#">Add To Cart</a>
                        </div>
                    </div>
                    <div class="product-details">
                        <h4>Quilted Satin Jacket</h4>
                        <div class="price-container">
                            <h5>$660</h5>
                            <ul class="stars">
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-filled.svg" alt="star"></li>
                                <li><img src="./assets/star-half-filled.svg" alt="half filed star"></li>
                            </ul>
                            <h6 class="reviews">(55)</h6>
                        </div>
                        <div class="color-options">
                            <div class="color-option-selected"><span class="color"
                                    style="background-color: #184A48;"></span></div>
                            <div class="color-option"></div>
                        </div>
                    </div>
                </li>
            </ul>
            <hr class="line">
            <a href="#" class="button">View All Products</a>
        </section>
    </section>
    <section id="features">
        <section class="wrapper">
            <ul>
                <li>
                    <span><img src="assets/icon-delivery-1.svg" alt="Delivery Van"></span>
                    <h3>FREE AND FAST DELIVERY</h3>
                    <p>Free delivery for all orders over $140</p>
                </li>
                <li>
                    <span><img src="assets/Icon-Customer service.svg" alt="Customer service"></span>
                    <h3>24/7 CUSTOMER SERVICE</h3>
                    <p>Friendly 24/7 customer support</p>
                </li>
                <li>
                    <span><img src="assets/safety.svg" alt="Safety"></span>
                    <h3>MONEY BACK GUARANTEE</h3>
                    <p>We return money within 30 days</p>
                </li>
            </ul>
        </section>
    </section>

    <footer>
        <section class="wrapper">
            <ul class="footer-sections">
                <li class="footer-section">
                    <h1 class="logo"><a href="#">Exclusive</a></h1>
                    <h3>Subscribe</h3>
                    <h5>Get 10% off your first order</h5>
                    <form action="#">
                        <input type="email" placeholder="Enter your email">
                        <a href="#"><img src="./assets/send.svg" alt="send"></a>
                    </form>
                </li>
                <li class="footer-section">
                    <h3>Support</h3>
                    <ul class="footer-items">
                        <li><a href="#">111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</a></li>
                        <li><a href="mailto:exclusive@gmail.com">exclusive@gmail.com</a></li>
                        <li><a href="tel:+88015-88888-9999">+88015-88888-9999</a></li>
                    </ul>
                </li>
                <li class="footer-section">
                    <h3>Account</h3>
                    <ul class="footer-items">

                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Login / Register</a></li>
                        <li><a href="#">Cart</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#">Shop</a></li>
                    </ul>
                </li>
                <li class="footer-section">
                    <h3>Quick Link</h3>
                    <ul class="footer-items">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </li>
                <li class="footer-section">
                    <h3>Download App</h3>
                    <h6>Save $3 with App New User Only</h6>
                    <div class="installation-methods">
                        <div class="qr-code">
                            <img src="./images/Qrcode.png" alt="QR Code">
                        </div>
                        <div class="store-buttons">
                            <a href="#"><img src="./images/download-playstore.png" alt="Google Play"></a>
                            <a href="#"><img src="./images/download-appstore.png" alt="Apple Store"></a>
                        </div>
                    </div>
                    <ul class="social-media">
                        <li><a href="#"><img src="./assets/facebook.svg" alt="facebook"></a></li>
                        <li><a href="#"><img src="./assets/twitter.svg" alt="twitter"></a></li>
                        <li><a href="#"><img src="./assets/icon-instagram.svg" alt="instagram"></a></li>
                        <li><a href="#"><img src="./assets/Icon-Linkedin.svg" alt="linkedin"></a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <hr class="line">
        <div class="copyright">
            <p>&copy; Copyright Rimel 2022. All right reserved</p>
        </div>
    </footer>
</body>

</html>